@import "varribles";
@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
}

.header-top {
    @extend %theme-gradient;
    height: 60px;
    font-family: $body;

    .header-info {
        color: $white;

        ul {
            list-style: none;
            margin: 0 !important;

            li {
                display: inline-block;
                margin-right: 15px;

                i {
                    margin-right: 8px;
                }
            }
        }
    }

    .header-top-social {
        span {
            color: $white;
            border-right: 1px solid $white;
            padding-right: 20px;
        }

        ul {
            list-style: none;
            display: inline-block;
            margin: 0 !important;

            li {
                // text-align: right;
                display: inline-block;
                margin-left: 8px;

                a {
                    text-decoration: none;
                    color: $white;

                    i {
                        color: $white;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.header-area {
    font-family: $body;
    height: 100px;
    // position: sticky;

    .header-logo {
        a {
            text-decoration: none;

            img {
                width: 180px;
                height: 38px;
            }
        }
    }

    nav {
        ul {
            list-style: none;
            text-align: right;
            margin: 0;

            li {
                display: inline-block;

                a {
                    color: $color;
                    margin-right: 35px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        color: $theme;
                    }
                }
            }
        }
    }

    .header-right {
        justify-content: space-between;
        display: flex;

        .ss {
            font-size: 18px;
            color: $color;
        }
    }
}

.carousel-inner {
    position: relative !important;
    z-index: 1;


    img {
        height: 1000px;
        width: 100% !important;
    }

    .carousel-caption {
        position: absolute !important;
        top: 35% !important;
        left: 2% !important;
        text-align: left;
    }

    h5 {
        font-size: 75px;
        font-family: 'Conv_Adora Chalie';
        color: $color;
        margin-bottom: 10px;
    }

    p {
        font-family: $body;
        color: $color;
    }

    button {
        @extend%theme-gradient;
        color: $white;
        text-align: center;
        font-size: 27px;
        width: 406px;
        height: 60px;
        border-radius: 500px;
        border: none;

        a {
            text-decoration: none;
            color: $white;

        }
    }

}

// slider
.slider-area {
    background-color: #f5f5f9;
    position: relative;
    z-index: 2;


    .single-image {
        // float: left;
        // display: block;
        // position: relative;


        img {
            width: 100%;
            height: 575px;

        }
    }

    .slider-content {
        top: 0;
        position: absolute;
        padding-top: 179px;



        h5 {
            font-size: 55px;
            font-family: 'Conv_Adora Chalie';
            color: $color;
            margin-bottom: 10px;
        }

        p {
            font-family: $body;
            color: $color;
            font-size: 16px;
        }

        a {
            @extend %theme-gradient;
            text-decoration: none;
            padding: 10px 25px;
            border-radius: 500px;
            color: $white;
            margin-top: 35px;
            display: inline-block;
            transition: .3s;

            &:hover {
                // background-position: right center;
                background-image: linear-gradient(180deg, rgb(150, 147, 252) 0%, rgb(170, 152, 246) 12%, rgb(190, 156, 240) 28%, rgb(220, 179, 249) 60%, rgb(236, 165, 250) 76%, rgb(252, 151, 250) 100%);
                opacity: 0.831;

                // background-color: red;

            }
        }
    }
}